@media only screen and (min-width: 640px) {

    body {
        background-image: linear-gradient(to top, transparent 50%, transparent 50%, transparent 100%), url(../img/pattern-background-desktop.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%, 100vw;
    }
}